:root {
  --font-stack: "Roboto", Arial, sans-serif;
  --primary-color: #2884ff;
  --accent-color1: #ff6370;
  --accent-color2: #ffde6b;
  --card-bg: #2f2f31;
  --body-bg: #3d3d3f;
}

body {
  line-height: 1.5;
  background: var(--body-bg);
}
h2 {
  font-size: 2rem;
  font-family: var(--font-stack);
  text-transform: uppercase;
  letter-spacing: 0.123rem;
  padding-left: 1rem;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  font-family: var(--font-stack);
  font-size: 1rem;
  color: var(--accent-color1);
}

ul.databases > li > a {
  color: var(--accent-color1);
  font-size: 1.2rem;
}
.container {
  max-width: 920px;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  background: var(--card-bg);
  margin-bottom: 1rem;
  border-radius: 8px;
}
.card_header {
  padding-bottom: 1rem;
}
.card_header > a {
  font-size: 1.25rem;
  color: #ddd;
}

.card_text > a {
  font-size: 0.9rem;
  color: var(--accent-color1);
}
ul {
  list-style: none;
}
/* Links hover*/
ul.databases > li > a:focus,
ul.databases > li > a:hover,
ul.databases > li > a:active,
a:focus,
a:hover,
a:active {
  color: var(--primary-color);
}
